#title {
  text-align: center;
  
}

#button-div {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#status {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
